@model ProyectoFerMex.Models.Empleado

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<div class="container">
    <h2>Eliminar</h2>

    <h3>¿Estas seguro de eliminar este empleado?</h3>

    <div style="background-color: beige; border-radius: 5px;">
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.NOMBRE)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NOMBRE)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AP_PAT)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AP_PAT)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AP_MAT)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AP_MAT)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CORREO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CORREO)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ROL)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ROL)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DEPARTAMENTO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DEPARTAMENTO)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <center>
                <button type="submit" class="btn btn-outline-info" style="background-color:lightcoral" value="Delete"> Eliminar</button>
                <button type="button" class="btn btn-outline-info" style="background-color:khaki"> @Html.ActionLink("Ver Empleados", "Index")</button>
            </center>
            <hr />
        }
    </div>

</div>

