@model IEnumerable<ProyectoFerMex.Models.Empleado>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<div class="container">

    <h2>Empleados</h2>

    <center>
        <img src="~/Content/img/adm/empleados.jpg" width="1150" height="200" />
        <br />
        <br />
        <br />
    </center>

    <table class="table style=" border-radius: 100px; color: black;"">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NOMBRE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AP_PAT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AP_MAT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CORREO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ROL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DEPARTAMENTO)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NOMBRE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AP_PAT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AP_MAT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CORREO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ROL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DEPARTAMENTO)
                </td>
                <td>
                    <button type="button" class="btn btn-outline-primary" style="background-color:lightblue; margin-right:15px"> @Html.ActionLink("Actualizar", "Edit", new { id = item.ID_EMPLEADO }) </button>
                    <button type="button" class="btn btn-outline-secondary" style="background-color:lightgreen; margin-left:15px; margin-right:15px"> @Html.ActionLink("Detalles", "Details", new { id = item.ID_EMPLEADO })</button>
                    <button type="button" class="btn btn-outline-success" style="background-color:lightcoral; margin-left:15px"> @Html.ActionLink("Eliminar", "Delete", new { id = item.ID_EMPLEADO })</button>
                </td>
            </tr>
        }

    </table>

    <center>
        <p>
            <button type="button" class="btn btn-outline-info" style="background-color:khaki"> @Html.ActionLink("Agregar nuevo empleado", "Create")</button>

        </p>
    </center>

</div>
