@model ProyectoFerMex.Models.ordenCliente

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutEnvios.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ordenCliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FECHA_CREACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_CREACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NUM_CONFIRMACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NUM_CONFIRMACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TOTAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TOTAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_DIRENTREGA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_DIRENTREGA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NUM_GUIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NUM_GUIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA_ENVIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_ENVIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA_ENTREGA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_ENTREGA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cliente.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Paqueteria.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paqueteria.NOMBRE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_ORDEN_CLIENTE }) |
    @Html.ActionLink("Back to List", "Index")
</p>
