@model ProyectoFerMex.Models.ordenCliente

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutEnvios.cshtml";
}

<div class="container">
    <h2>Editar Envio</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-horizontal" style="background-color: beige; border-radius: 5px;">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID_ORDEN_CLIENTE)

    <div class="form-group">
        @Html.LabelFor(model => model.FECHA_CREACION, htmlAttributes: new { @class = "control-label col-md-5" })
        <div class="col-md-5">
            @Html.EditorFor(model => model.FECHA_CREACION, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FECHA_CREACION, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NUM_CONFIRMACION, htmlAttributes: new { @class = "control-label col-md-5" })
        <div class="col-md-5">
            @Html.EditorFor(model => model.NUM_CONFIRMACION, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NUM_CONFIRMACION, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TOTAL, htmlAttributes: new { @class = "control-label col-md-5" })
        <div class="col-md-5">
            @Html.EditorFor(model => model.TOTAL, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TOTAL, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ID_CLIENTE, "ID_CLIENTE", htmlAttributes: new { @class = "control-label col-md-5" })
        <div class="col-md-5">
            @Html.DropDownList("ID_CLIENTE", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ID_CLIENTE, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ID_DIRENTREGA, htmlAttributes: new { @class = "control-label col-md-5" })
        <div class="col-md-5">
            @Html.EditorFor(model => model.ID_DIRENTREGA, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ID_DIRENTREGA, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ID_PAQUETERIA, "ID_PAQUETERIA", htmlAttributes: new { @class = "control-label col-md-5" })
        <div class="col-md-5">
            @Html.DropDownList("ID_PAQUETERIA", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ID_PAQUETERIA, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NUM_GUIA, htmlAttributes: new { @class = "control-label col-md-5" })
        <div class="col-md-5">
            @Html.EditorFor(model => model.NUM_GUIA, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NUM_GUIA, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FECHA_ENVIO, htmlAttributes: new { @class = "control-label col-md-5" })
        <div class="col-md-5">
            @Html.EditorFor(model => model.FECHA_ENVIO, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FECHA_ENVIO, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FECHA_ENTREGA, htmlAttributes: new { @class = "control-label col-md-5" })
        <div class="col-md-5">
            @Html.EditorFor(model => model.FECHA_ENTREGA, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FECHA_ENTREGA, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-6 col-md-10">
            <input type="submit" value="Guardar" class="btn btn-success" />
        </div>
    </div>
    <hr />
</div>
    }

    <br />
    <div>
        <button type="button" class="btn btn-outline-info" style="background-color:khaki"> @Html.ActionLink("Ver Envios", "Index")</button>
    </div>

</div>

