@model ProyectoFerMex.Models.Categoria

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutCompras.cshtml";
}

<div class="container">
    <br />
    <h3>¿Estas seguro de eliminar esta categoria?</h3>
    <div style="background-color: #9CB694; border-radius: 5px;">
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.NOMBRE)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NOMBRE)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DESCRIPCION)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DESCRIPCION)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <center>
                <button type="submit" class="btn btn-outline-info" style="background-color:lightcoral" value="Delete"> Eliminar</button>
                <button type="button" class="btn btn-outline-info" style="background-color:lightcyan"> @Html.ActionLink("Ver Categorias", "Index")</button>
            </center>
            <hr />
        }
    </div>
</div>
