@model ProyectoFerMex.Models.RegisterViewModel
@Styles.Render("~/Content/css/StyleRegister.css")
@{
    ViewBag.Title = "Registrarse";
}

<body>
    <h2 style="color:chartreuse">@ViewBag.Title.</h2>

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="box">
            @Html.AntiForgeryToken()
            <h4 style="color:azure">Cree una cuenta nueva.</h4>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label box-font" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label box-font" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label box-font" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-3">
                    <button type="submit" class="btn btn-primary btn-block btn-large">Registrarse </button>

                </div>
            </div>
        </div>
    }
</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
